body {
  margin: 0;
  background-color: #252525;
}

.wrapper {
  display: flex;
}

.left {
  height: 100vh;
  flex: 3;
  background-color: #252525;
}

.right {
  height: 100vh;
  flex: 2;
  background-color: #ededed;
}

.left2 {
  height: 100vh;
  flex: 3;
  background-color: #252525;
  position: relative;
}

.right2 {
  height: 100vh;
  flex: 2;
  background-color: #ededed;
}

.gif1 {
  margin-top: 10%;
  min-height: auto;
  min-width: 40%;
  max-width: 50%;
  position: absolute;
}

.gif2 {
  margin-top: 5%;
  min-height: auto;
  min-width: 80%;
  max-width: 80%;
  position: relative;
}

.gif3 {
  margin-top: 5%;
  min-height: auto;
  min-width: 80%;
  max-width: 80%;
  position: relative;
}

.title2 {
  margin-top: 0;
  margin-left: .3in;
  color: #ededed;
  font-family: monospace;
  font-size: 15vmax;
  position: relative;
}

.p1 {
  margin-left: .5in;
  margin-right: 1in;
  margin-top: .5in;
  font-family: monospace;
  font-size: 1.25em;
  line-height: 25px;
}

.p2 {
  margin-left: .5in;
  margin-right: 1in;
  margin-top: .75in;
  font-family: monospace;
  font-size: 1.25em;
  line-height: 25px;
}

.p3 {
  margin-left: .5in;
  margin-right: 1in;
  margin-top: .75in;
  font-family: monospace;
  font-size: 1.25em;
  line-height: 25px;
}

.p4 {
  margin-left: .5in;
  margin-right: 1in;
  margin-top: .75in;
  font-family: monospace;
  font-size: 1.25em;
  line-height: 25px;
}

@media only screen and (max-width: 640px) {
  .wrapper {
    display: block;
  }

  .left {
    width: 100%;
    box-sizing: border-box;
  }

  .right {
    width: 100%;
    box-sizing: border-box;
  }

  .title2 {
    margin-top: 10%;
    margin-left: 3%;
    color: #ededed;
    font-family: monospace;
    font-size: 20vmax;
    line-height: 200px;
    position: relative;
  }

  .gif2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30%;
    width: 100vw;
  }

  .gif1 {
    display: block;
    margin-left: auto;
    margin-right: 0;
    margin-top: 20%;
    width: 100vw;
    position: absolute;
  }

  .p1 {
    margin-top: 20%;
  }
}

h2 {
  margin-left: .3in;
  margin-right: 1in;
  margin-top: 2in;
  font-family: monospace;
  font-size: 1.6em;
  line-height: 25px;
  position: relative;
}

h2::before,
h2::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

h2::before {
  background: #ededed;
  animation: typewriter 4s steps(34) forwards;
}

h2::after {
  width: .125em;
  background: black;
  animation: typewriter 4s steps(34) forwards, blink 500ms steps(34) infinite;
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}

@keyframes blink {
  to {
    background: transparent;
  }
}
